* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar-brand:hover{
  color: #ff8c00;
}
.nav-item a:hover{
  font-size: large;
  color:#ff8c00;
  
}
#hero {
    height: 70vh; 
    background-image: url('./photos/antelope2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.footer-icons{
  display: flex;
  justify-content:center;
  gap: 0;
  
}
.footer-icons i{
  align-content: space-evenly;
  padding:0 0 25px 25px;

  
  
  
}
.footer hr{
  color: antiquewhite;
  width: 800px;
  max-width: 80%;
  margin: 20px auto;
}
.footer-rights{
  display: flex;
  justify-content: center;
  text-align: center;
}
.footer-rights p{
  color: gray;
}
