* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar-brand:hover{
  color: #ff8c00;
}
.nav-item a:hover{
  font-size: large;
  color:#ff8c00;
  
}
body{
    margin-top: 6%;
    background-image: url('../photos/ocean.avif');
}
.about-1{
    margin: 30;
    padding: 5px;
}
.about-1 h1{
    text-align: center;
    color: black;
    font-weight: bold;
}
.about-1 p{
    text-align: center;
    padding: 4px;
    color: white;
}
.about-item{
    margin-bottom: 20px;
    margin-top: 30px;
    padding: 80px,30px;
}
.about-item i{
    font-size: 43px;
    margin: 0;
    color: white;
}
.about-item h3{
    font-size: 25px;
    margin-bottom: 10px;
    color: white;
}
.about-item hr{
    width: 50px;
    height: 2px;
    margin: 0 auto;
    border: nome;
}
.about-item p{
    margin-top: 30px;
    font-weight: bold;
    color: white;
}
.about-item:hover i, 
.about-item:hover h3,
.about-item:hover p{
    color: white;
}
.about-item:hover hr{
    background-color: blue;
}
.about-item:hover i{
    transform: translateY(-20px);
}
.about-item:hover i, 
.about-item:hover h3,
.about-item:hover hr{
    transition: all 400 ease-in-out;
}
.footer-icons{
  display: flex;
  justify-content:center;
  gap: 0;
  
}
.footer-icons i{
  align-content: space-evenly;
  padding:0 0 25px 25px;

  
  
  
}
.footer hr{
  color: antiquewhite;
  width: 800px;
  max-width: 80%;
  margin: 20px auto;
}
.footer-rights{
  display: flex;
  justify-content: center;
  text-align: center;
}
.footer-rights p{
  color: gray;
}
