
#hero2 {
  height: 40vh;
  background-color: black;
  background-size: cover;
  background-position: center;
  position: relative;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0px;
  background: #f1efef;
}
.navbar-brand:hover{
  color: #ff8c00;
}
.nav-item a:hover{
  font-size: large;
  color:#ff8c00; 
}
.parent-card {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card-imgg {
  width: 600px;
  height: 400px;
  border-radius: 4px;
}
.card-img-topp {
  height: 300px;
}
.row {
  margin: 2px;
}

.card:hover {
  transform: translateY(-20px);
}
.headd {
  text-decoration-line: underline;
}

.rights {
  background-color: rgb(10, 15, 15);
}

.slideshow-container {
  max-width: 1500px;
  position: relative;
  margin: auto;
  margin-top: 3px;
}

.mySlides {
  display: none;
}

.mySlides img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.text {
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.textBLOG {
  color: #f2f2f2;
  padding: 8px 12px;
  position:absolute;
  bottom: 8px;
  width: 100%;
  margin-bottom: 250px;
  text-align: center;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.card-img-topx {
  height: 350px;
}
* {
  box-sizing: border-box;
}
.footer-icons{
  display: flex;
  justify-content:center;
  gap: 0;
}
.footer-icons i{
  align-content: space-evenly;
  padding:0 0 25px 25px;
}
.footer hr{
  color: antiquewhite;
  width: 800px;
  max-width: 80%;
  margin: 20px auto;
}
.footer-rights{
  display: flex;
  justify-content: center;
  text-align: center;
}
.footer-rights p{
  color: gray;
}